Repository xinxin971225/ziyu-front-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm lint:eslint, pnpm lint:prettier, pnpm test:git, pnpm lint:stylelint, pnpm lint:markdownlint

chore: init build option useful iife
  .eslintignore
  .eslintrc.json
  .vscode/_sfc-blocks.code-snippets
  demo/iife/index.html
  dist/style.css
  dist/ziyu-vite-ui.iife.js
  dist/ziyu-vite-ui.iife.js.map
  dist/ziyu-vite-ui.mjs
  dist/ziyu-vite-ui.mjs.map
  dist/ziyu-vite-ui.umd.js
  dist/ziyu-vite-ui.umd.js.map
  package.json
  pnpm-lock.yaml
  src/button/SFCButton.vue
  vite.config.ts
Due: pnpm lint:eslint, pnpm lint:prettier, pnpm test:git, pnpm lint:stylelint

chore: test action
  .github/workflows/ci.yml
  package.json
Due: pnpm lint:prettier

chore: test action
  .github/workflows/ci.yml
Due: none

chore: readme icon and del markdown lint
  .lintstagedrc.json
  .markdownlint.json
  .markdownlint.yml
  README.md
  package.json
  pnpm-lock.yaml
Due: pnpm lint:prettier, pnpm lint:markdownlint

chore: readmeImg
  README.md
Due: pnpm lint:prettier, pnpm lint:markdownlint

Create LICENSE
  LICENSE
Due: none

chore: init version
  package.json
Due: pnpm lint:prettier

chore: add publish action
  .github/workflows/publish.yml
  package.json
  publish.sh
Due: pnpm lint:prettier

chore: init publish action
  .github/workflows/publish.yml
Due: none

chore: init monorepo dir
  .gitignore
  docs/.vitepress/theme/index.ts
  package.json
  packages/docs-vite/README.md
  packages/docs-vite/demo/esm/index.html
  packages/docs-vite/demo/iife/index.html
  packages/docs-vite/package.json
  packages/ziyu-vite-ui/README.md
  packages/ziyu-vite-ui/dist/style.css
  packages/ziyu-vite-ui/dist/ziyu-vite-ui.iife.js
  packages/ziyu-vite-ui/dist/ziyu-vite-ui.iife.js.map
  packages/ziyu-vite-ui/dist/ziyu-vite-ui.mjs
  packages/ziyu-vite-ui/dist/ziyu-vite-ui.mjs.map
  packages/ziyu-vite-ui/dist/ziyu-vite-ui.umd.js
  packages/ziyu-vite-ui/dist/ziyu-vite-ui.umd.js.map
  packages/ziyu-vite-ui/docs/.vitepress/config.ts
  packages/ziyu-vite-ui/docs/.vitepress/theme/index.ts
  packages/ziyu-vite-ui/docs/components/button.md
  packages/ziyu-vite-ui/docs/index.md
  packages/ziyu-vite-ui/docs/vite.config.ts
  packages/ziyu-vite-ui/index.html
  packages/ziyu-vite-ui/package.json
  packages/ziyu-vite-ui/publish.sh
  packages/ziyu-vite-ui/src/app.vue
  packages/ziyu-vite-ui/src/button/JSXButton.tsx
  packages/ziyu-vite-ui/src/button/SFCButton.vue
  packages/ziyu-vite-ui/src/button/__tests__/JSXButton.test.ts
  packages/ziyu-vite-ui/src/button/index.ts
  packages/ziyu-vite-ui/src/entry.ts
  packages/ziyu-vite-ui/src/index.ts
  packages/ziyu-vite-ui/src/shims-vue.d.ts
  packages/ziyu-vite-ui/vite.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tsconfig.json
Due: pnpm lint:eslint, pnpm lint:prettier, pnpm test:git, pnpm lint:stylelint, pnpm lint:markdownlint

chore: init build:UI
  package.json
  packages/docs-vite/demo/esm/index.html
  packages/docs-vite/demo/iife/index.html
  packages/docs-vite/package.json
  packages/ziyu-vite-ui/README.md
  packages/ziyu-vite-ui/dist/ziyu-vite-ui.iife.js
  packages/ziyu-vite-ui/dist/ziyu-vite-ui.iife.js.map
  packages/ziyu-vite-ui/dist/ziyu-vite-ui.mjs
  packages/ziyu-vite-ui/dist/ziyu-vite-ui.mjs.map
  packages/ziyu-vite-ui/dist/ziyu-vite-ui.umd.js
  packages/ziyu-vite-ui/dist/ziyu-vite-ui.umd.js.map
  packages/ziyu-vite-ui/docs/.vitepress/config.ts
  packages/ziyu-vite-ui/package.json
  packages/ziyu-vite-ui/src/app.vue
  packages/ziyu-vite-ui/src/button/Button.ts
  packages/ziyu-vite-ui/src/button/index.ts
  packages/ziyu-vite-ui/src/entry.ts
  packages/ziyu-vite-ui/vite.config.ts
  pnpm-lock.yaml
  tsconfig.json
Due: pnpm lint:eslint, pnpm lint:prettier, pnpm test:git, pnpm lint:stylelint, pnpm lint:markdownlint

chore: 尝试分包，进行分包加载
  .eslintignore
  .prettierignore
  package.json
  packages/docs-vite/demo/iife/index.html
  packages/ziyu-vite-ui/assets/button/index.iife.js
  packages/ziyu-vite-ui/assets/button/index.iife.js.map
  packages/ziyu-vite-ui/assets/button/index.js
  packages/ziyu-vite-ui/assets/button/index.js.map
  packages/ziyu-vite-ui/assets/button/index.umd.cjs
  packages/ziyu-vite-ui/assets/button/index.umd.cjs.map
  packages/ziyu-vite-ui/assets/button/package.json
  packages/ziyu-vite-ui/assets/button/style.css
  packages/ziyu-vite-ui/scripts/build.ts
  packages/ziyu-vite-ui/src/button/Button.ts
  packages/ziyu-vite-ui/src/button/index.ts
  packages/ziyu-vite-ui/vite.config.ts
  pnpm-lock.yaml
Due: pnpm lint:eslint, pnpm lint:prettier, pnpm test:git

chore: build with type 迁移docs文件，整理打包方式
  .vscode/settings.json
  package.json
  packages/docs-vite/docs/.vitepress/config.ts
  packages/docs-vite/docs/.vitepress/theme/index.ts
  packages/docs-vite/docs/components/button.md
  packages/docs-vite/docs/index.md
  packages/docs-vite/package.json
  packages/docs-vite/vite.config.ts
  packages/ziyu-vite-ui/README.md
  packages/ziyu-vite-ui/config/unocss.ts
  packages/ziyu-vite-ui/dist/entry.d.ts
  packages/ziyu-vite-ui/dist/index.d.ts
  packages/ziyu-vite-ui/dist/shims-vue.d.ts
  packages/ziyu-vite-ui/dist/src/button/JSXButton.d.ts
  packages/ziyu-vite-ui/dist/src/button/SFCButton.vue.d.ts
  packages/ziyu-vite-ui/dist/ziyu-vite-ui.iife.js.map
  packages/ziyu-vite-ui/dist/ziyu-vite-ui.mjs.map
  packages/ziyu-vite-ui/dist/ziyu-vite-ui.umd.js.map
  packages/ziyu-vite-ui/docs/vite.config.ts
  packages/ziyu-vite-ui/entry.ts
  packages/ziyu-vite-ui/package.json
  packages/ziyu-vite-ui/shims-vue.d.ts
  packages/ziyu-vite-ui/tsconfig.json
  packages/ziyu-vite-ui/vite.config.ts
  pnpm-lock.yaml
  tsconfig.json
  vite.config.ts
Due: pnpm lint:eslint, pnpm lint:prettier, pnpm test:git, pnpm lint:markdownlint

chore: init build 部署线上文档
  package.json
  packages/docs-vite/README.md
  packages/docs-vite/demo/esm/index.html
  packages/ziyu-vite-ui/dist/entry.d.ts
  packages/ziyu-vite-ui/dist/index.d.ts
  packages/ziyu-vite-ui/dist/shims-vue.d.ts
  packages/ziyu-vite-ui/dist/src/button/JSXButton.d.ts
  packages/ziyu-vite-ui/dist/src/button/SFCButton.vue.d.ts
  packages/ziyu-vite-ui/dist/style.css
  packages/ziyu-vite-ui/dist/ziyu-vite-ui.iife.js
  packages/ziyu-vite-ui/dist/ziyu-vite-ui.iife.js.map
  packages/ziyu-vite-ui/dist/ziyu-vite-ui.mjs
  packages/ziyu-vite-ui/dist/ziyu-vite-ui.mjs.map
  packages/ziyu-vite-ui/dist/ziyu-vite-ui.umd.js
  packages/ziyu-vite-ui/dist/ziyu-vite-ui.umd.js.map
Due: pnpm lint:eslint, pnpm lint:prettier, pnpm test:git, pnpm lint:markdownlint

chore: 踩个build的坑
  .gitignore
  packages/docs-vite/README.md
  packages/ziyu-vite-ui/dist/entry.d.ts
  packages/ziyu-vite-ui/dist/index.d.ts
  packages/ziyu-vite-ui/dist/shims-vue.d.ts
  packages/ziyu-vite-ui/dist/src/button/JSXButton.d.ts
  packages/ziyu-vite-ui/dist/src/button/SFCButton.vue.d.ts
  packages/ziyu-vite-ui/dist/style.css
  packages/ziyu-vite-ui/dist/ziyu-vite-ui.iife.js
  packages/ziyu-vite-ui/dist/ziyu-vite-ui.iife.js.map
  packages/ziyu-vite-ui/dist/ziyu-vite-ui.mjs
  packages/ziyu-vite-ui/dist/ziyu-vite-ui.mjs.map
  packages/ziyu-vite-ui/dist/ziyu-vite-ui.umd.js
  packages/ziyu-vite-ui/dist/ziyu-vite-ui.umd.js.map
Due: pnpm lint:eslint, pnpm lint:prettier, pnpm test:git, pnpm lint:markdownlint

chore: test option home Page
  README.md
  package.json
  packages/ziyu-vite-ui/README.md
  vite.config.ts
Due: pnpm lint:eslint, pnpm lint:prettier, pnpm test:git, pnpm lint:markdownlint

chore: init README
  .vscode/extensions.json
  README.md
  assets/catdidi.jpeg
Due: pnpm lint:prettier, pnpm lint:markdownlint

Update README.md
  README.md
Due: pnpm lint:prettier, pnpm lint:markdownlint

chore: init readme
  README.md
  assets/catdidi.png
Due: pnpm lint:prettier, pnpm lint:markdownlint

chore: 生成测试覆盖率
  .eslintignore
  .github/workflows/ci.yml
  .github/workflows/codecov.yml
  .prettierignore
  coverage/JSXButton.tsx.html
  coverage/base.css
  coverage/block-navigation.js
  coverage/coverage-final.json
  coverage/favicon.png
  coverage/index.html
  coverage/prettify.css
  coverage/prettify.js
  coverage/sort-arrow-sprite.png
  coverage/sorter.js
  package.json
  pnpm-lock.yaml
  vite.config.ts
Due: pnpm lint:eslint, pnpm lint:prettier, pnpm test:git

chore: 测试覆盖率更新路径
  .github/workflows/codecov.yml
Due: none

chore: 添加测试覆盖率tag
  README.md
Due: pnpm lint:prettier, pnpm lint:markdownlint

chore: update sfc button
  .vscode/_sfc-blocks.code-snippets
  coverage/SFCButton.vue.html
  coverage/coverage-final.json
  coverage/index.html
  coverage/utils.ts.html
  packages/docs-vite/docs/.vitepress/theme/index.ts
  packages/docs-vite/docs/components/button.md
  packages/docs-vite/package.json
  packages/docs-vite/vite.config.ts
  packages/ziyu-vite-ui/dist/src/button/JSXButton.d.ts
  packages/ziyu-vite-ui/dist/src/button/SFCButton.vue.d.ts
  packages/ziyu-vite-ui/dist/src/button/types.d.ts
  packages/ziyu-vite-ui/dist/src/button/utils.d.ts
  packages/ziyu-vite-ui/dist/style.css
  packages/ziyu-vite-ui/dist/ziyu-vite-ui.iife.js
  packages/ziyu-vite-ui/dist/ziyu-vite-ui.iife.js.map
  packages/ziyu-vite-ui/dist/ziyu-vite-ui.mjs
  packages/ziyu-vite-ui/dist/ziyu-vite-ui.mjs.map
  packages/ziyu-vite-ui/dist/ziyu-vite-ui.umd.js
  packages/ziyu-vite-ui/dist/ziyu-vite-ui.umd.js.map
  packages/ziyu-vite-ui/src/app.vue
  packages/ziyu-vite-ui/src/button/Button.ts
  packages/ziyu-vite-ui/src/button/JSXButton.tsx
  packages/ziyu-vite-ui/src/button/SFCButton.vue
  packages/ziyu-vite-ui/src/button/__tests__/JSXButton.test.ts
  packages/ziyu-vite-ui/src/button/types.ts
  packages/ziyu-vite-ui/src/button/utils.ts
  pnpm-lock.yaml
  vite.config.ts
Due: pnpm lint:eslint, pnpm lint:prettier, pnpm test:git, pnpm lint:stylelint, pnpm lint:markdownlint

chore: add todo
  packages/docs-vite/README.md
Due: pnpm lint:prettier, pnpm lint:markdownlint

chore: fix build ui docs
  packages/docs-vite/docs/.vitepress/theme/index.ts
  packages/docs-vite/vite.config.ts
  packages/ziyu-vite-ui/assets/button/index.iife.js
  packages/ziyu-vite-ui/assets/button/index.iife.js.map
  packages/ziyu-vite-ui/assets/button/index.js.map
  packages/ziyu-vite-ui/assets/button/index.umd.cjs
  packages/ziyu-vite-ui/assets/button/index.umd.cjs.map
  packages/ziyu-vite-ui/assets/button/style.css
Due: pnpm lint:eslint, pnpm lint:prettier, pnpm test:git

chore: init cli package
  packages/create-ziyu-app-cli/bin/index.js
  packages/create-ziyu-app-cli/package.json
Due: pnpm lint:eslint, pnpm lint:prettier, pnpm test:git

chore: init cli wait template repo
  packages/create-ziyu-app-cli/bin/index.js
  packages/create-ziyu-app-cli/lib/operations/ziyu-vite-ui.js
  packages/create-ziyu-app-cli/lib/utils/clone.js
  packages/create-ziyu-app-cli/package.json
  pnpm-lock.yaml
Due: pnpm lint:eslint, pnpm lint:prettier, pnpm test:git

chore: change version
  packages/ziyu-vite-ui/package.json
Due: pnpm lint:prettier

chore: test action
  .github/workflows/publish.yml
  packages/ziyu-vite-ui/package.json
Due: pnpm lint:prettier

chore: test publish
  .github/workflows/publish.yml
  package.json
  pnpm-lock.yaml
Due: pnpm lint:prettier

chore: test publish
  .github/workflows/publish.yml
Due: none

chore: init .changeset
  .changeset/README.md
  .changeset/config.json
  package.json
  pnpm-lock.yaml
Due: pnpm lint:prettier, pnpm lint:markdownlint

chore: test publish
  package.json
Due: pnpm lint:prettier

chore: init cli package
  packages/create-ziyu-app-cli/lib/operations/ziyu-vite-ui.js
  packages/create-ziyu-app-cli/package.json
  pnpm-lock.yaml
Due: pnpm lint:eslint, pnpm lint:prettier, pnpm test:git

chore: change command
  package.json
Due: pnpm lint:prettier

chore: update command
  package.json
Due: pnpm lint:prettier

chore: init createApp readme
  packages/create-ziyu-app-cli/README.md
Due: pnpm lint:prettier, pnpm lint:markdownlint

chore: change app name
  packages/create-ziyu-app-cli/README.md
  packages/create-ziyu-app-cli/package.json
Due: pnpm lint:prettier, pnpm lint:markdownlint

Path conditions:
  pnpm lint:eslint: (any of: *.{js,ts}) or (any of: *.vue)
  pnpm lint:prettier: ((((any of: *.{js,ts}) or (any of: package.json)) or (any of: *.vue)) or (any of: *.scss)) or (any of: *.md)
  pnpm test:git: (any of: *.{js,ts}) or (any of: *.vue)
  pnpm lint:stylelint: (any of: *.vue) or (any of: *.scss)
  pnpm lint:markdownlint: any of: *.md
