Repository xinxin971225/ziyu-front-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm lint:eslint, pnpm lint:prettier, pnpm test:git, pnpm lint:stylelint, pnpm lint:markdownlint

.lintstagedrc.json:

{
  "*.{js,ts}": ["pnpm lint:eslint", "pnpm lint:prettier", "pnpm test:git"],

  "package.json": ["pnpm lint:prettier"],
  "*.vue": ["pnpm lint:eslint", "pnpm lint:stylelint", "pnpm lint:prettier", "pnpm test:git"],
  "*.scss": ["pnpm lint:stylelint", "pnpm lint:prettier"],
  "*.md": ["pnpm lint:markdownlint", "pnpm lint:prettier"]
}

chore: build type.d.ts 让组件应用时能直接获取支持配置的具体类型
  .eslintignore
  .prettierignore
  assets/package.json
  dist/package.json
  package.json
  packages/ziyu-vite-ui/dist/button/index.iife.js
  packages/ziyu-vite-ui/dist/button/index.iife.js.map
  packages/ziyu-vite-ui/dist/button/index.mjs
  packages/ziyu-vite-ui/dist/button/index.mjs.map
  packages/ziyu-vite-ui/dist/button/index.umd.js
  packages/ziyu-vite-ui/dist/button/index.umd.js.map
  packages/ziyu-vite-ui/dist/button/package.json
  packages/ziyu-vite-ui/dist/button/style.css
  packages/ziyu-vite-ui/dist/index.d.ts
  packages/ziyu-vite-ui/dist/package.json
  packages/ziyu-vite-ui/dist/types/dist/types/entry.d.ts
  packages/ziyu-vite-ui/dist/types/dist/types/shims-vue.d.ts
  packages/ziyu-vite-ui/dist/types/dist/types/src/button/JSXButton.d.ts
  packages/ziyu-vite-ui/dist/types/dist/types/src/button/SFCButton.vue.d.ts
  packages/ziyu-vite-ui/dist/types/dist/types/src/button/types.d.ts
  packages/ziyu-vite-ui/dist/types/dist/types/src/button/utils.d.ts
  packages/ziyu-vite-ui/dist/types/dist/ziyu-vite-ui.d.ts
  packages/ziyu-vite-ui/dist/types/entry.d.ts
  packages/ziyu-vite-ui/dist/types/shims-vue.d.ts
  packages/ziyu-vite-ui/dist/types/src/button/JSXButton.d.ts
  packages/ziyu-vite-ui/dist/types/src/button/SFCButton.vue.d.ts
  packages/ziyu-vite-ui/dist/types/src/button/index.d.ts
  packages/ziyu-vite-ui/dist/types/src/button/types.d.ts
  packages/ziyu-vite-ui/dist/types/src/button/utils.d.ts
  packages/ziyu-vite-ui/dist/ziyu-vite-ui.d.ts
  packages/ziyu-vite-ui/dist/ziyu-vite-ui.iife.js.map
  packages/ziyu-vite-ui/dist/ziyu-vite-ui.mjs.map
  packages/ziyu-vite-ui/dist/ziyu-vite-ui.umd.js.map
  packages/ziyu-vite-ui/scripts/build.ts
  packages/ziyu-vite-ui/scripts/entry.d.ts.hbs
  packages/ziyu-vite-ui/scripts/log.ts
  packages/ziyu-vite-ui/scripts/type.ts
  packages/ziyu-vite-ui/vite.config.ts
  pnpm-lock.yaml
  tsconfig.json
Due: pnpm lint:eslint, pnpm lint:prettier, pnpm test:git

chore: 换个版本加引用
  packages/docs-vite/demo/iife/index.html
  packages/ziyu-vite-ui/assets/button/index.iife.js
  packages/ziyu-vite-ui/assets/button/index.iife.js.map
  packages/ziyu-vite-ui/assets/button/index.js
  packages/ziyu-vite-ui/assets/button/index.js.map
  packages/ziyu-vite-ui/assets/button/index.umd.cjs
  packages/ziyu-vite-ui/assets/button/index.umd.cjs.map
  packages/ziyu-vite-ui/assets/button/package.json
  packages/ziyu-vite-ui/assets/button/style.css
  packages/ziyu-vite-ui/dist/package.json
  packages/ziyu-vite-ui/package.json
  packages/ziyu-vite-ui/scripts/build.ts
  pnpm-lock.yaml
Due: pnpm lint:eslint, pnpm lint:prettier, pnpm test:git

chore: build action update
  .github/workflows/publish.yml
Due: none

chore: 更新版本
  packages/ziyu-vite-ui/package.json
Due: pnpm lint:prettier

chore: init vitepress docs
  assets/package.json
  packages/docs-vite/docs/.vitepress/config.ts
  packages/docs-vite/docs/index.md
  packages/docs-vite/docs/public/catdidi.png
Due: pnpm lint:eslint, pnpm lint:prettier, pnpm test:git, pnpm lint:markdownlint

chore: vitepress style
  packages/docs-vite/docs/.vitepress/config.ts
  packages/docs-vite/docs/.vitepress/theme/index.ts
  packages/docs-vite/docs/.vitepress/theme/style/index.css
  packages/docs-vite/docs/components/index.md
  packages/docs-vite/docs/guide/index.md
  packages/docs-vite/docs/index.md
Due: pnpm lint:eslint, pnpm lint:prettier, pnpm test:git, pnpm lint:markdownlint
